Declare @condition_id int
EXEC msdb.dbo.sp_syspolicy_add_condition @name=N'STD - Trace Flag Standard', @description=N'', @facet=N'IServerConfigurationFacet', @expression=N'<Operator>
  <TypeClass>Bool</TypeClass>
  <OpType>EQ</OpType>
  <Count>2</Count>
  <Function>
    <TypeClass>Numeric</TypeClass>
    <FunctionType>ExecuteSql</FunctionType>
    <ReturnType>Numeric</ReturnType>
    <Count>2</Count>
    <Constant>
      <TypeClass>String</TypeClass>
      <ObjType>System.String</ObjType>
      <Value>numeric</Value>
    </Constant>
    <Constant>
      <TypeClass>String</TypeClass>
      <ObjType>System.String</ObjType>
      <Value>IF OBJECT_ID(''''tempdb..#TraceStatus'''') IS NOT NULL&lt;?char 13?&gt;
    DROP TABLE #TraceStatus&lt;?char 13?&gt;
&lt;?char 13?&gt;
CREATE TABLE #TraceStatus (&lt;?char 13?&gt;
	[TraceFlag] INT,&lt;?char 13?&gt;
	[Status] BIT,&lt;?char 13?&gt;
	[Global]	BIT,&lt;?char 13?&gt;
	[Session] BIT&lt;?char 13?&gt;
	)&lt;?char 13?&gt;
INSERT INTO #TraceStatus&lt;?char 13?&gt;
  EXECUTE (''''DBCC TRACESTATUS(-1)'''')&lt;?char 13?&gt;
&lt;?char 13?&gt;
SELECT COUNT (*)&lt;?char 13?&gt;
FROM #TraceStatus&lt;?char 13?&gt;
WHERE [TraceFlag] IN (1117,1118,3226)&lt;?char 13?&gt;
AND [Status] = 1 AND [Global] = 1&lt;?char 13?&gt;
&lt;?char 13?&gt;
DROP TABLE #TraceStatus</Value>
    </Constant>
  </Function>
  <Constant>
    <TypeClass>Numeric</TypeClass>
    <ObjType>System.Double</ObjType>
    <Value>3</Value>
  </Constant>
</Operator>', @is_name_condition=0, @obj_name=N'', @condition_id=@condition_id OUTPUT
Select @condition_id


Declare @object_set_id int
EXEC msdb.dbo.sp_syspolicy_add_object_set @object_set_name=N'STD - TF Standard_ObjectSet', @facet=N'IServerConfigurationFacet', @object_set_id=@object_set_id OUTPUT
Select @object_set_id

Declare @target_set_id int
EXEC msdb.dbo.sp_syspolicy_add_target_set @object_set_name=N'STD - TF Standard_ObjectSet', @type_skeleton=N'Server', @type=N'SERVER', @enabled=True, @target_set_id=@target_set_id OUTPUT
Select @target_set_id




Declare @policy_id int
EXEC msdb.dbo.sp_syspolicy_add_policy @name=N'STD - Trace Flag Standard', @condition_name=N'STD - Trace Flag Standard', @policy_category=N'Standard Configuration Check', @description=N'Checks if standard Trace Flags are enabled (1117, 1118, 3226)', @help_text=N'', @help_link=N'', @schedule_uid=N'00000000-0000-0000-0000-000000000000', @execution_mode=0, @is_enabled=False, @policy_id=@policy_id OUTPUT, @root_condition_name=N'', @object_set=N'STD - TF Standard_ObjectSet'
Select @policy_id


